<% provide(:title, @user.name) %>
<h2> <%= @user.name %> </h2>
<div class="text">
		<div>
			
			<br/>
		<form>
				<p>
					Add up to <div id="italic">three</div> job titles here:<br>
					<input type="file" name="datafile" size="40">
					</p>
			</form> 

		</div>
	</div>