<% provide(:title, 'threejobs') %>
	
	<body>
		<div id="container">
			<div id="box">
			
		<header class="pagehead">
			<h1>threejobs.</h1>
			<nav class="navig">
				<ul>
					<!-- active class will underline current page -->

					<li class="menu-home active">
				        <a href="index.html">Home</a>
					</li>
					<li class="menu-about">
						<a href="aboutus.html">About Us</a>
					</li>
					<li class="menu-how">
						<a href="howworks.html">How It Works</a>
					</li>
					<li class="menu-upload">
						<a href="upload.html">Upload Your Resume</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="text">
			<div id="lightbox">
				<div id="lightbox-inside">
				<p class="bubble">
				They say you should </p>
				<p> apply to at least two jobs a day.
				</p>
				<p class="bubble">
				But you were</p>
				<div id="italic">
				 	<p>always </p>
				 </div>
				 <p>
				 	an overacheiver
			</p>
		</div>
		</div>
	</div>
		</div>
	

</div>
	</body>
</html>