<% provide(:title, 'threejobs') %>
	

		<div class="text">
			<div id="lightbox">
				<div id="lightbox-inside">
				<p class="bubble">
				They say you should </p>
				<p> apply to at least two jobs a day.
				</p>
				<p class="bubble">
				But you were</p>
				<div id="italic">
				 	<p>always </p>
				 </div>
				 <p>
				 	an overacheiver
			</p>
		</div>
		</div>
	</div>
		</div>
	

</div>

