<% provide(:title, 'Upload') %>

	<div class="text">
		<div>
		<form>
				<p>
					Add up to <div id="italic">three</div> job titles here:<br>
					<input type="file" name="datafile" size="40">
					</p>
			</form> 

		</div>
	</div>	


