<% provide(:title, 'Upload') %>


		<div class="howworks">
		<form>
				<p>
					Upload your resume as a txt file here:<br>
					<input type="file" name="datafile" size="40">
					</p>
			</form> 


		</div>
		


