<footer class="footer" id="footback">
  <small>
    Made in New York by Jessica Stewart
  </small>
  <nav class="navig">
    <ul>
      <li><%= link_to "About Us",   '#' %></li>
      <li><%= link_to "How It Works", '#' %></li>
      <li><%= link_to "Sign out", '/sessions/destroy' %></li>
    </ul>
  </nav>
</footer>